.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
  display: block;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
  margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header {
  height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
  padding-left: 15px !important;
}

::ng-deep .mat-nav-list .is-active {
  background-color: rgb(204, 204, 204) !important;
  border-left: 8px solid #ff6c00 !important;
  width: calc(100% - 8px) !important;
}

::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
  padding: 0 8px;
}
.items-menu{
  align-items: center;
}
/* cuando se abre un link*/
.nave-list .is-active{
  border-left: 8px solid #ff6c00 !important;

  &.items-menu span{
    color: #0b3ad1;
  }
}

.nave-list2 .is-active2{

  &.items-menu span{
    color: #0b3ad1;
  }
  &.expansion-men{
    border-left: 8px solid #ff6c00 !important;
    &.items-menu span{
      color: #0b3ad1;
    }
  }
}

.expansion-men{
  align-items: center;
}


.items-menu .mat-icon{
  margin-left: 15px;

}

.expansion-men .mat-icon{
  margin-left: 15px;

}

.items-menu span{
  position: absolute;
  text-align: center;
  align-items: center;
  margin-left: 15px;
}

.expansion-men span{
  text-align: center;
  align-items: center;
  margin-left: 15px;
}
.nave-list2 .items-menu .mat-icon{
  margin-left: 40px;
}


::ng-deep .mdc-list-item__content {
  align-items: center;
  margin: auto;
}

.logo{
  background-color: white;
  background-image: url("src/app/images/logo1.png");
  background-size: 50px;
  border-radius: 10px;
  width:60px;
  height: 60px;
  background-repeat: no-repeat;
  margin: 0.8em;
  display: inline-block;
}
.logo:hover{
  cursor: pointer;
}
